@tailwind base;
@tailwind components;
@tailwind utilities;



.card::before, .card::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #777;
}

.card::before {
    border-width: 4px 0 0 4px; /* Top-left corner */
    top: -4px;
    left: -4px;
    width: 20%; 
    height: 30%;
}

.card::after {
    border-width: 0 2px 2px 0; /* Bottom-right corner */
    bottom: -4px;
    right: -4px;
    width: 20%; 
    height: 30%;
}




.card2::before, .card2::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: #777;
}

/* Top-right corner */
.card2::before {
    border-width: 4px 6px 0 0;
    top: -6px;
    right: -6px;
    width: 20%; 
    height: 30%;
}

/* Bottom-left corner */
.card2::after {
    border-width: 0px 0px 4px 6px;
    bottom: -4px;
    left: -6px;
    width: 20%; 
    height: 30%;
}





